@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@font-face {
  font-family: Gotham_Bold;
  src: url(../../assets/fonts/GothamBold.otf);
}
@font-face {
  font-family: Gotham_Light;
  src: url(../../assets/fonts/GothamLight.otf);
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gates-2k19.appspot.com/o/images%2Fgates_web_background.png?alt=media&token=e33205e0-f10d-4917-9537-3061f5cd4993");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: verdana;
}
     
.up_icon{
  position: fixed;
  border-radius: 50%;
  border: 2px solid #333;
  color: rgb(121, 121, 121);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom:1px;
  padding-top: 3px;
  font-size: 35px;
  bottom: 3%;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
  right: 3%;
}
.up_icon:hover{
  color: rgb(231, 228, 228);
  border-color: #aaa;
}
footer{
  background-color: black;
  color: #ccc;
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}
a i {
  color: #888;
}
a i:hover{
color:#ccc;
}
/*--sidenav--*/
.sidenav-btn {
  width: 5%;
  height: auto;
  display: block;
  overflow: hidden;
  position: fixed;
  z-index: 11;
  top: 35%;
  left: 0;
  transition: 0.3s;
  text-align: center;
  background: #f43c62;
  color:white;
  overflow-x: hidden;
  padding: 3% 1%;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-align:center;
}
.events{
  font-size: 30px;
  color: #333;
  margin-left: 150px;
}
.card > .events{
  margin-left:0;
}
.events::after{
  display: block;
  content: "";
  height: 3px;
  width: 80px;
  background: #333;
}

.events_1{
  font-size: 30px;
  color: #333;
  margin-left: 150px;
}
.events_1::after{
  display: block;
  content: "";
  height: 3px;
  width: 80px;
  background: #aaa !important;
}
.side_nav_inner{
  color: #ccc;
  margin: 10px;
}
.star_night_head{
  font-size: 30px;
  color: #ddd; 
  font-family: Gotham_Bold;
}

div span i{
  font-size:10px;
}
.sidenav .closebtn {
  position: absolute;
  font-family: Gotham_Bold;
  top: 0;
  color: #ccc;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
.open_side_nav{
  top: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  z-index: 11;
  transition: 0.3s;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 0;
  background: rgba(231, 231, 231, 0.95);
}
.right_nav_elmt_column{
  color:rgb(94, 94, 94);
  font-family: Gotham_Bold;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 100px;
  text-align: center;
}
.right_nav_elmt{
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 2px solid rgb(122, 122, 122);
  padding-bottom:10px;
  margin:10px;
}
.right_nav_elmt:hover{
  color: rgb(0, 0, 0);
}
.right_nav_elmt:last-child{
  border:none;
}


.images{
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

h1{

  display: inline-block;
  position: relative;
  background: none;
  border: none;
}

.logo {
  margin: 3%;
  color: white;
  position: fixed;
  width: 20%;
  float: left;
}

.card{
  width: 100%;
  min-height: 70%;
  max-height: auto;
  overflow: auto;
}

/*--arrow--*/
#arrow{
  margin-left: 50%;
  display: block;
  width: 25px;
  bottom: 50px;
  position: fixed;
}

#up-arrow{
  display: none;
  width: 25px;
  bottom: 50px;
  right: 50px;
  float: right;
  position: fixed;
  z-index: 2;
}

/*---event images--*/

.img_events{
  border-radius: 25px;
  height: 400px;
}
.img_container{
  width: 90%;
}
.event_btn_grid{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}
.event__btn{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 30px;
  font-family: Gotham_Bold;
  width: 120px;
  font-size: 25px;
  color: rgba(0,0,0,0.8);
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 5px;
  background: rgba(230, 230, 230, 0.6);
}
.img_container_slide{
  width: 90%;
  margin: 5%;
}

/*---overlay---*/
#overlay1,#overlay2,#overlay3,#overlay4 {
  margin: 0;
  background-image: url("./img/gates_web_background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
@media screen and (max-width:400px){
  footer span{
    font-size: 15px;
  }
  footer span i{
    font-size: 25px;
  }
}

/*--animate zoom--*/
.animate_zoom {
  animation:animatezoom 0.6s
}
@keyframes animatezoom{
  from{
    transform:scale(0)
    }
  to{
    transform:scale(1)
    }
}

.img_tag{
  width: 30%;
  height: 100%;
  float: left;
}
.img_content{
  width: 70%;
  float: left;
  height: 100%;
}


/*--animate fading--*/
.mySlides{
  width: 80%;
  max-height:50%;
  display: inline-block;
  border-radius: 10px;
}
  .animate-fade{
  animation:fading 4s infinite;
  }
  @keyframes fading{
    0%{
      opacity:0
    }
    20%{
      opacity:1
    }
    80%{
      opacity:1
    }
    100%{
      opacity:0
    }
  }


/*-- Flip image--*/
.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border-radius:50%;
  perspective: 1000px;
  display: inline-block;
  margin: 5%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius:50%;

  box-shadow: 0px 5px 10px grey;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  padding: 5%;
}

/*---Photo Grid--*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 2px 6px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 12%; /* IE10 */
  flex: 12%;
  max-width: 12%;
  padding: 0 2%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/*--contact--*/
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: black;
  margin-bottom: 5%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
}
/* Mobile Nav*/
.mobile_nav{
  position: fixed;
  width: 100%;
  height: 65px;
  background: rgba(226, 226, 226, 0.95);
  color: rgb(34, 34, 34);
  top: 0;
  z-index: 10;
  font-size: 25px;
  left: 0;
}
.iframe{
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  height: 100%;
  width: 100%;
  color: #333;
  width: 100%;
  background: #ffffff;
  z-index: -1;
  opacity: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}
.mob_event_header{
  height: inherit;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.event_header{
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
  text-transform: capitalize;
  font-family: Gotham_Bold;
  text-transform: capitalize;
}
.event_header::after{
  display: block;
  height: 3px;
  content:"";
  width: 40px;
  background: rgb(81, 0, 110);
}
.details{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: Gotham_Light;
}
.mob_event_foot{
  margin-left: 20px;
}
.foot_inner{
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mob_event_btn{
  height: 40px;
  background: rgb(81, 0, 110);
  color: white; 
  width: 130px;
  margin-top: 10px;
  margin-right: 25px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  text-transform: capitalize;
}
.api_btn{
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(81, 0, 110);
  font-size: 50px;
  cursor: pointer;
  transition: 0.1s;
}
.api_btn:hover{
  color: rgb(141, 0, 192);
}
#event_heading_4::after{
  background: rgb(218,37,68);
}
#event_heading_1::after{
  background: rgba(0,132,118,1);
}
#event_heading_3::after{
  background:rgb(253,1,0);
}
#event_heading_5::after{
  background:rgb(255,173,1);
}

#brochure_btn{
  padding: 10px;
  margin-left: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: #ccc;
  transition: 0.3s;
  display: inline-block;
  border: 2px solid #ccc;
}

#brochure_btn:hover{
  border-color: #fff;
  color: #fff;
}

.college_name{
  font-size: 20px;
}
@media (max-width: 700px){
  .college_name{
    font-size: 12px;
  }
}
.contact_us{
  font-family: Gotham_Light;
  color: #333;

}
.contact_us_inner{
  margin: 20px;
}
.contact_heading{
  text-transform: uppercase;
  font-size: 30px;
}
.contact_heading::after{
  content:"";
  display: block;
  height: 3px;
  width: 100px;
  background: #333;
}
.contact_head{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_list_1{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.contact_list_2{
  display: grid;
  grid-template-rows: 1fr 0.8fr 0.8fr 0.8fr 0.8fr;
}
b{
  font-family: Gotham_Bold;
}
.star_column{
  text-align:center;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.star_left{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.star_right{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.mid{
  margin-top: 25%;
}
.star_name{
  font-family: Gotham_Bold;
  font-size: 20px;
}
.star_date{
  font-size: 15px;
}
.dev_inner{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.nav_dev{
  position: absolute;
  bottom: 15px;
  margin-left: 10px;
  font-size: 15px;
}
.click_register_btn{
  text-align:center;
  margin-top: 20px;
  padding: 10px;
  background: #ccc;
  color: #333;
  border: 0.5px solid #333;
  box-shadow: 1px 1px 3px 0.5px #fff;
  width: 180px;
  transition: 0.3s;
  border-radius: 5px;
}
.click_register_btn:hover{
  box-shadow: none;
}


/* Animation_1 */
.move_left{
  position: relative;
  animation: move_left 0.5s linear infinite forwards;
}

@keyframes move_left{
  0%{
    left: 0;
  }
  50%{
    left: -8px;
  }
  100%{
    left: 0;
  }
}


/*Animation_2*/
.move_right{
  position: relative;
  animation: move_right 0.5s linear infinite forwards;
}

@keyframes move_right{
  0%{
    left: 0;
  }
  50%{
    left: 8px;
  }
  100%{
    left: 0;
  }
}